{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
{%
  set title_classes = [
    'h2',
    'gallery-title',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {% 
      set count = content.field_gallery_images['#items']|length
    %}
    <div class="ih-gallery careers-gallery">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="gallery-title-wrapper">
              {{ title_prefix }}
              {% if label %}
                <h2{{ title_attributes.addClass(title_classes) }}>{{ label }}</h2>
              {% endif %}
              {{ title_suffix }}
              {% if content.field_short_description %}
                <div class="content-block-desc">
                  {{ content.field_short_description.0 }}
                </div>
              {% endif %}
            </div>
            <div class="ih-gallery-wrapper gray-bg">
              <div class="five-more-section">
                <div class="logo"><a href="/"><img src="/sites/default/files/logo/IH-logo-white.png"></a></div>
                <div class="close-btn"></div>
              </div>
              {% if count > 0 %}
                <div class="ih-gallery-inner">
                  {% for key in 0..(count-1) %}
                    <div class="ih-gallery-single">
                      {% if key < 5 %}
                        {% set s_key = key + 1 %}
                        {% if content.field_gallery_images[key]['#media'].field_media_image.entity.uri.value %}
                          <a href="#img{{ s_key }}" id="img{{ s_key }}">
                            <picture>
                              <source media="(min-width:768px)" srcset="{{ content.field_gallery_images[key]['#media'].field_media_image.entity.uri.value | image_style('gallery_1050x600') }}">
                              <img src="{{ content.field_gallery_images[key]['#media'].field_media_image.entity.uri.value| image_style('gallery_600x741') }}" alt="ih-gallery">
                            </picture>
                          </a>
                        {% endif %}
                      {% else %}
                        {% if content.field_gallery_images[key]['#media'].field_media_image.entity.uri.value %}
                          <picture>
                            <source media="(min-width:768px)" srcset="{{ content.field_gallery_images[key]['#media'].field_media_image.entity.uri.value| image_style('gallery_1050x600') }}">
                            <img src="{{ content.field_gallery_images[key]['#media'].field_media_image.entity.uri.value| image_style('gallery_600x741') }}" alt="ih-gallery">
                          </picture>
                        {% endif %}
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="content-block-wrapper col col-10 col-lg-8 mx-auto p-0">
              {% if content.field_subtitle %}
                <div class="content-block-title">
                  {{ content.field_subtitle.0 }}
                </div>
              {% endif %}
              {% if content.body %}
                <div class="gallery-desc">{{ content.body.0 }}</div>
              {% endif %}
              {% if content.field_link.0['#url'] %}
                <div class="content-link">
                  {% if content.field_link.0['#url'].isExternal() %}
                    <a href="{{ content.field_link.0['#url'] }}" target="_blank" class="button-primary-default">{{ content.field_link.0['#title'] }}</a>
                  {% else %}
                    <a href="{{ content.field_link.0['#url'] }}" class="button-primary-default">{{ content.field_link.0['#title'] }}</a>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
</div>
