{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'join-our-team',
  ]
%}
<section>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="container">
        <div class="row">
          <div class="join-our-team-header">
            <div{{ title_attributes.addClass('join-our-team-title') }}>
              {{ title_prefix }}
              {% if label %}
                {{ label }}
              {% endif %}
              {{ title_suffix }}
            </div>
            {% if content.body %}
              <div class="join-our-team-sub-title">
                {{ content.body.0|render|striptags|trim }}
              </div>
            {% endif %}
          </div>
          <div class="join-our-team-content">
            {% if content.field_slides %}
              {% for key, item in content.field_slides['#items'] %}
                {% if loop.first %}
                  <div class="video-content">
                    {{ content.field_paragraph_media[key] }}
                  </div>
                  <div class="video-info">
                    <div class="video-title">
                      {% if item.entity.field_title %}
                        {{ item.entity.field_title.0.value }}
                      {% endif %}
                    </div>
                    <div class="video-description">
                      {% if item.entity.field_description %}
                        {{ item.entity.field_description.0.value|render|striptags|trim }}
                      {% endif %}
                    </div>
                    <div class="watch-video">
                      {% if item.entity.field_link %}
                        {% if content.url[key].isExternal() %}
                          <a href="{{ content.url[key] }}" target="_blank">{{ content.title[key]|raw }}</a>
                        {% else %}
                          <a href="{{ content.url[key] }}">{{ content.title[key]|raw }}</a>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
</section>
