{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{%
  set row_classes = [
    default_row_class ? 'views-row',
  ]
%}
<section class="content-slider-wrapper blog-listing">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-12 p-0 col-lg-12">
        <div class="content-slider content-slider-bg-grey">
          {% for key,row in rows %}
            <div{{ row.attributes.addClass(row_classes) }}>
              <div class="slide">
                <div class="child-element">
                  <div class="slider-img">
                  <a href="{{ view.style_plugin.getField(key, 'view_node_1') }}">
                    <picture>
                      <source media="(min-width:1600px)" srcset="{{ view.style_plugin.getField(key, 'field_media_image_2') }}">
                      <source media="(min-width:768px)" srcset="{{ view.style_plugin.getField(key, 'field_media_image') }}">
                      <img src="{{ view.style_plugin.getField(key, 'field_media_image_1') }}" alt="location">
                    </picture>
                  </a>
                  </div>
                  <div class="slider-content">
                    <div class="slider-read-time">
                      {{ view.style_plugin.getField(key, 'node_read_time') }}
                    </div>
                    <div class="slider-category">
                      {{ view.style_plugin.getField(key, 'field_category') }}
                    </div>
                    <div class="slider-content-heading h2">
                      {{ view.style_plugin.getField(key, 'title') }}
                    </div>
                    <div class="slider-content-para">
                      <p>{{ view.style_plugin.getField(key, 'body') }}</p>
                    </div>
                    <div class="slider-content-button">
                      {{ view.style_plugin.getField(key, 'view_node') }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>