{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The content_results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of content_results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix|raw }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}
  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}
  <div class="view-content">
    <div class="container p-0">
      <div class="row m-0">
        <div class="hub-explore">
          <h2 class="hub-title">
              <span class="d-block d-lg-none">Explore</span>
              <span class="d-none d-lg-block">Explore this Section</span>
          </h2>
            <div class="hub-items-wrapper">
            {% if content_results|length %}
              {% if content_results|length <= 15 %}
                {% for key,result in content_results %}
                  {% if key%4 == 0 %}
                    <div class="hub-items">
                  {% endif %}
                  <div class="hub-item">
                    <div class="hub-image">
                      <a href="{{ result.path }}">
                        <img src="{{ result.image_url }}">
                      </a>
                    </div>
                    <div class="hub-content">
                      <a href="{{ result.path }}">
                        {{ result.name }}
                      </a>
                    </div>
                  </div>
                  {% if ((key+1)%4 == 0) or (key == content_results|length - 1) %}
                    </div>
                  {% endif %}
                {% endfor %}
              {% else %}
                {% for key,result in content_results %}
                  {% if key%5 == 0 %}
                    <div class="hub-items">
                  {% endif %}
                  <div class="hub-item">
                    <div class="hub-image">
                      <a href="{{ result.path }}">
                        <img src="{{ result.image_url }}">
                      </a>
                    </div>
                    <div class="hub-content">
                      <a href="{{ result.path }}">
                        {{ result.name }}
                      </a>
                    </div>
                  </div>
                  {% if ((key+1)%5 == 0) or (key == content_results|length - 1) %}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% else %}
              <div class="no-result text-center">No results</div>
            {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>
  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer {{ footer_classes }}">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>