{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for key, row in rows %}
  {%
    set row_classes = [
      loop.first ? 'hover',
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    <div class="hover-text d-none d-lg-flex">{{ view.style_plugin.getField(key, 'title') }}</div>
    <div class="ih-services-inner">
      <div class="ih-services-img">
        <div class="ih-services-bg"></div>
        <picture>
            <source media="(min-width:768px)" srcset="{{ view.style_plugin.getField(key, 'field_media_image') }}">
            <img src="{{ view.style_plugin.getField(key, 'field_media_image_1') }}" alt="">
        </picture>
        <div class="ih-services-caption">
            <h2 class="h2">{{ view.style_plugin.getField(key, 'title') }}</h2>
            <p class="para">{{ view.style_plugin.getField(key, 'body') }}</p>
            <a href="{{ view.style_plugin.getField(key, 'view_node') }}" class="ih-link d-flex d-lg-none">Read More</a>
        </div>
      </div>
    </div>
    {{- row.content -}}
  </div>
{% endfor %}
