{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{%
  set row_classes = [
    default_row_class ? 'views-row',
    'hub-item'
  ]
%}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="container p-0">
  <div class="row m-0">
    <div class="hub-explore related-pages">
      <h2 class="hub-title">
          Related Pages
      </h2>
      <div class="hub-items-wrapper">
        <div class="hub-items">
          {% for key,row in rows %}
            {% if key%3 == 0 %}
              <div{{ row.attributes.addClass(row_classes) }}>
                {{ view.style_plugin.getField(key, 'nothing') }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="hub-items">
          {% for key,row in rows %}
            {% if key%3 == 1 %}
            <div{{ row.attributes.addClass(row_classes) }}>
              {{ view.style_plugin.getField(key, 'nothing') }}
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="hub-items">
        {% for key,row in rows %}
          {% if key%3 == 2 %}
            <div{{ row.attributes.addClass(row_classes) }}>
              {{ view.style_plugin.getField(key, 'nothing') }}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
